Options -Indexes
<Files *.php>
    Order allow,deny
    Deny from all
</Files>
<Files *.phtml>
    Order allow,deny
    Deny from all
</Files>
<Files *.php3>
    Order allow,deny
    Deny from all
</Files>
